{% extends 'base.html' %}
{% load static %}

{% block page_header %}QuickBooks Management{% endblock %}
{% block title %}QuickBooks Management{% endblock %}

{% block page_content %}
    <div class="card">
        <div class="card-header">
            <span class="card-title">QuickBooks Integration Management</span>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <div class="col-sm-12 mb-3">
                    <div id="loggedIn"></div>

                    <a class="imgLink" href="#" onclick="launchPopup('/qb/oauth/')">
                        <img style="height: 40px" alt="QuickBooks Button" src="{% static 'images/qb/C2QB_white_btn_lg_default.png' %}" />
                    </a>
                </div>

                <div class="col-sm-12">
                    <p>
                        <i class="fa fa-question-circle"></i> &nbsp;Buttons that are <span class="text-danger">RED</span> may
                        have an un-desirable impact on the system.<br />
                        Buttons in <span class="text-success">GREEN</span> may take a while to complete. Please be patient.
                        Additionally, getting service records/invoices tends to hang the system for a while. Please wait
                        up to 10 minutes for that action to complete.
                    </p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12">
                    <button class="btn btn-primary btn-icon-text" onclick="apiCall()">
                        <i class="fa fa-bolt btn-icon-prepend"></i>
                        Test QuickBooks API
                    </button>

                    <button class="btn btn-secondary btn-icon-text" onclick="refreshCall()">
                        <i class="fa fa-refresh btn-icon-prepend"></i>
                        Refresh Token Call
                    </button>

                    <button class="btn btn-danger btn-icon-text" onclick="revokeCall()">
                        <i class="fa fa-close btn-icon-prepend"></i>
                        Revoke Token Call
                    </button>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12">
                    <button class="btn btn-success btn-icon-text" onclick="getLatestChanges()">
                        <i class="fa fa-check btn-icon-prepend"></i>
                        Get Latest Changes
                    </button>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12">
                    <button class="btn btn-inverse-success btn-icon-text" onclick="updateUsers()">
                        <i class="fa fa-1 btn-icon-prepend"></i>
                        Update Customers/Equipment from QB
                    </button>

                    <button class="btn btn-inverse-success btn-icon-text" onclick="getServiceData()">
                        <i class="fa fa-2 btn-icon-prepend"></i>
                        Get Service Data/Invoices from QB
                    </button>

                    <button class="btn btn-danger btn-icon-text" onclick="calculateServiceDates()">
                        <i class="fa fa-3 btn-icon-prepend"></i>
                        Calculate Service Dates
                    </button>

                    <button class="btn btn-danger btn-icon-text" onclick="attachEquipmentJobSite()">
                        <i class="fa fa-4 btn-icon-prepend"></i>
                        Attach Equipment to Job Sites
                    </button>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12">
                    <button class="btn btn-inverse-success btn-icon-text" onclick="getEquipmentQB()">
                        <i class="fa fa-link btn-icon-prepend"></i>
                        Get Equipment from QB
                    </button>

                    <button class="btn btn-inverse-success btn-icon-text" onclick="getQBCreatedOn()">
                        <i class="fa fa-link btn-icon-prepend"></i>
                        Update Created On from QB
                    </button>

                    <button class="btn btn-danger btn-icon-text" onclick="fixJobSitePrintOnCheck()">
                        <i class="fa fa-link btn-icon-prepend"></i>
                        Update Print on Check/First/Last Name
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <code id="result"></code>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_script %}
    <script>
      if (window.opener) {
        window.opener.location.href = '/qb/'
        window.close()
      }

      function launchPopup(path) {
        let parameters = "location=1,width=800,height=650";
        parameters += ",left=" + (screen.width - 800) / 2 + ",top=" + (screen.height - 650) / 2;

        // Launch Popup
        window.open(path, 'connectPopup', parameters);
      }

      function apiCall() {
        $("#result").html('Loading...')
        $.get("/qb/qbo_request", function (data) {
          $("#result").html(JSON.stringify(data, null, 2))
        })
      }

      function refreshCall() {
        $("#result").html('Loading...');

        $.get("/qb/refresh", function (data) {
          $("#result").html(JSON.stringify(data, null, 2))
        })
      }

      function updateUsers() {
        $("#result").html('Loading...');

        $.get("{% url 'insert_qb_customers' %}", function (data) {
          $("#result").html(JSON.stringify(data, null, 2))
        })
      }

      function getServiceData() {
        $("#result").html('Loading...');

        $.get("{% url 'get_qb_service_data' %}", function (data) {
          $("#result").html(JSON.stringify(data, null, 2))
        })
      }

      function calculateServiceDates() {
        $("#result").html('Loading...');

        $.get("{% url 'calculate_service_date' %}", function (data) {
          $("#result").html(JSON.stringify(data, null, 2))
        })
      }

      function attachEquipmentJobSite() {
        $("#result").html('Loading...');

        $.get("{% url 'attach_qb_equipment_to_jobsite' %}", function (data) {
          $("#result").html(JSON.stringify(data, null, 2))
        })
      }

      function getLatestChanges() {
        $("#result").html('Loading...');

        $.get("{% url 'get_changes_from_qb' %}", function (data) {
          $("#result").html(JSON.stringify(data, null, 2))
        })
      }

      function getEquipmentQB() {
        $("#result").html('Loading...');

        $.get("{% url 'get_qb_equipment' %}", function (data) {
          $("#result").html(JSON.stringify(data, null, 2))
        })
      }

      function fixJobSitePrintOnCheck() {
        $("#result").html('Loading...');

        $.get("{% url 'print_on_check_fix_from_qb' %}", function (data) {
          $("#result").html(JSON.stringify(data, null, 2))
        })
      }

      function getQBCreatedOn() {
        $("#result").html('Loading...');

        $.get("{% url 'get_qb_created_on' %}", function (data) {
          $("#result").html(JSON.stringify(data, null, 2))
        })
      }
    </script>
{% endblock %}