{% extends 'base.html' %}
{% load static %}

{% block title %}Customers{% endblock %}
{% block page_header %}All Customers{% endblock %}

{% block page_content %}
    {% block custom_report_header %}{% endblock %}

    <div class="row">
        <div class="col-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline mb-2">
                        <h6 class="card-title mb-0">{% block card_title %}Service Due{% endblock %}</h6>
                        <div class="dropdown mb-2">
                            <button class="btn p-0" type="button" id="dropdownMenuButton7" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-lg text-muted pb-3px fa fa-ellipsis"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                                <button id="dt_button_copy" class="dropdown-item d-flex align-items-center"><i class="icon-sm me-2 fa fa-copy fa-fw"></i> <span class="">Copy</span></button>
                                <button id="dt_button_csv" class="dropdown-item d-flex align-items-center"><i class="icon-sm me-2 fa fa-file-text fa-fw"></i> <span class="">Download CSV</span></button>
                                <button id="dt_button_excel" class="dropdown-item d-flex align-items-center"><i class="icon-sm me-2 fa fa-file-excel fa-fw"></i> <span class="">Download Excel</span></button>
                                <button id="dt_button_pdf" class="dropdown-item d-flex align-items-center"><i class="icon-sm me-2 fa fa-file-pdf fa-fw"></i> <span class="">Download PDF</span></button>
                                <button id="dt_button_print" class="dropdown-item d-flex align-items-center"><i class="icon-sm me-2 fa fa-print fa-fw"></i> <span class="">Print Table</span></button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table" id="customerDatatable">
                            <thead>
                            <tr>
                                <th>Actions</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for customer in customer_list %}
                                <tr>
                                    <td>
                                        <a href="#" class="btn btn-inverse-primary btn-xs btn-icon" title="Open in QuickBooks">QB</a>
                                        <a href="{% url 'viewCustomer' pk=customer.pk %}" class="btn btn-inverse-secondary btn-xs btn-icon" title="View Customer Record"><i class="fa fa-eye"></i></a>
                                    </td>
                                    <td>{{ customer.first_name }} {{ customer.last_name }}<br><em>{{ customer.company }}</em></td>
                                    <td><a href="https://www.google.com/maps/place/{{ customer.billing_address_1|urlencode }},{{ customer.billing_city|urlencode }},{{ customer.billing_state|urlencode }} {{ customer.billing_zip|urlencode }}" target="_blank">{{ customer.billing_address_1 }}<br>{{ customer.billing_city }}, {{ customer.billing_state }} {{ customer.billing_zip }}</a></td>
                                    <td><a href="tel:1{{ customer.main_phone }}">{{ customer.main_phone }}</a></td>
                                    <td><a href="mailto:{{ customer.email }}">{% if customer.email|length > 50 %}<abbr title="{{ customer.email }}">{% endif %}{{ customer.email|truncatechars:50 }}</abbr></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_script %}{% endblock %}