{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Edit Customer {{ customer.first_name.value }} {{ customer.last_name.value }}{% endblock %}
{% block page_header %}Editing Customer <abbr title="Customer From {{ job_obj.qb_created_on|date:"M, Y" }}">{{ customer.first_name.value }} {{ customer.last_name.value }} ({{ job_obj.qb_created_on|date:"Y" }})</abbr>{% endblock %}

{% block css_plugins %}
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/jquery-tags-input/jquery.tagsinput.min.css' %}">
{% endblock %}

{% block page_content %}
    <div class="row mb-3">
        <div class="col-sm-6">
            {% include 'customer/view_customer.html' %}
        </div>

        <div class="col-sm-6 mb-3" id="customerJobSiteCard">
            {% include 'customer/job_sites/job_site.html' %}
        </div>
    </div>
{% endblock %}

{% block page_script %}{% endblock %}

{% block page_plugins %}
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.2/build/global/luxon.min.js"></script>
    <script src="{% static 'assets/vendors/inputmask/jquery.inputmask.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery-tags-input/jquery.tagsinput.min.js' %}"></script>
{% endblock %}

{% block add_page_plugins %}{% endblock %}