{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Edit Customer {{ form.first_name.value }} {{ form.last_name.value }}{% endblock %}
{% block page_header %}Editing Customer <u>{{ form.first_name.value }} {{ form.last_name.value }}</u>{% endblock %}

{% block css_plugins %}
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
{% endblock %}

{% block page_css %}
    <style>
        .delete-equipment {
            display: none;
        }
    </style>
{% endblock %}

{% block page_content %}
    {% if not form.is_active.value %}<div class="alert alert-danger" role="alert"><i class="fa fa-user-alt"></i>Customer is inactive or deleted.</div>{% endif %}
    {% if form.requires_supporting_technician.value %}<div class="alert alert-warning" role="alert"><i class="fa fa-2"></i>Requires two technicians!</div>{% endif %}

    <div class="row mb-3">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Customer Information</div>

                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="mb-3">
                                    {{ form.title.errors }}
                                    <label class="form-label" for="{{ form.title.id_for_label }}">Title</label>
                                    {{ form.title|add_class:"form-control"|attr:"placeholder:Title"|attr:"autocomplete:off" }}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    {{ form.first_name.errors }}
                                    <label class="form-label" for="{{ form.first_name.id_for_label }}"><abbr title="Primary Contact">First Name</abbr></label>
                                    {{ form.first_name|add_class:"form-control"|attr:"placeholder:First Name"|attr:"autocomplete:off" }}
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-2">
                                <div class="mb-3">
                                    {{ form.middle_name.errors }}
                                    <label class="form-label" for="{{ form.middle_name.id_for_label }}"><abbr title="Middle Initials">MI</abbr></label>
                                    {{ form.middle_name|add_class:"form-control"|attr:"placeholder:MI"|attr:"autocomplete:off" }}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    {{ form.last_name.errors }}
                                    <label class="form-label" for="{{ form.last_name.id_for_label }}">Last Name</label>
                                    {{ form.last_name|add_class:"form-control"|attr:"placeholder:Last Name"|attr:"autocomplete:off" }}
                                </div>
                            </div><!-- Col -->
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    {{ form.company.errors }}
                                    <label class="form-label" for="{{ form.company.id_for_label }}">Company Name</label>
                                    {{ form.company|add_class:"form-control"|attr:"placeholder:Company Name"|attr:"autocomplete:off" }}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    {{ form.main_phone.errors }}
                                    <label class="form-label" for="{{ form.main_phone.id_for_label }}">Primary Phone</label>
                                    {{ form.main_phone|add_class:"form-control"|attr:"placeholder:(___) ___-____"|attr:"autocomplete:off" }}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    {{ form.email.errors }}
                                    <label class="form-label" for="{{ form.email.id_for_label }}">Primary Email</label>
                                    {{ form.email|add_class:"form-control"|attr:"placeholder:abc@abc.com"|attr:"type:email"|attr:"autocomplete:off" }}
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <ul class="nav nav-tabs" id="addCustomerTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="notes-tab" data-bs-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">Notes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="billing-tab" data-bs-toggle="tab" href="#billing" role="tab" aria-controls="billing" aria-selected="false">Billing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="extraInfo-tab" data-bs-toggle="tab" href="#extraInfo" role="tab" aria-controls="extraInfo" aria-selected="false">Extra Info</a>
                                    </li>
                                </ul>
                                <div class="tab-content border border-top-0 p-3" id="myTabContent">
                                    <div class="tab-pane fade show active" id="notes" role="tabpanel" aria-labelledby="notes-tab">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th width="10%">Date</th>
                                                        <th>Summary</th>
                                                        <th width="20%">Author</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>12/23/22</td>
                                                        <td>In leau of water...</td>
                                                        <td>Ben Beach</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="billing" role="tabpanel" aria-labelledby="billing-tab">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="mb-3">
                                                    {{ form.billing_address_1.errors }}
                                                    <label class="form-label" for="{{ form.billing_address_1.id_for_label }}">Billing Address 1</label>
                                                    {{ form.billing_address_1|add_class:"form-control"|attr:"placeholder:1234 Easy Street"|attr:"autocomplete:off" }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                {{ form.billing_city.errors }}
                                                <label class="form-label" for="{{ form.billing_city.id_for_label }}">Billing City</label>
                                                {{ form.billing_city|add_class:"form-control"|attr:"placeholder:Aronld"|attr:"autocomplete:off" }}
                                            </div><!-- Col -->
                                            <div class="col-sm-4">
                                                {{ form.billing_state.errors }}
                                                <label class="form-label" for="{{ form.billing_state.id_for_label }}">Billing State</label>
                                                {{ form.billing_state|add_class:"form-control"|attr:"placeholder:NC"|attr:"value:NC"|attr:"autocomplete:off" }}
                                            </div><!-- Col -->
                                            <div class="col-sm-4">
                                                {{ form.billing_zip.errors }}
                                                <label class="form-label" for="{{ form.billing_zip.id_for_label }}">Billing Zip</label>
                                                {{ form.billing_zip|add_class:"form-control"|attr:"placeholder:28801"|attr:"autocomplete:off" }}
                                            </div><!-- Col -->
                                        </div><!-- Row -->
                                    </div>

                                    <div class="tab-pane fade" id="extraInfo" role="tabpanel" aria-labelledby="extraInfo-tab">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="mb-3">
                                                    {{ form.secondary_contact_name.errors }}
                                                    <label class="form-label" for="{{ form.secondary_contact_name.id_for_label }}">Secondary Contact Name</label>
                                                    {{ form.secondary_contact_name|add_class:"form-control"|attr:"placeholder:Secondary Contact Name" }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="mb-3">
                                                    {{ form.alternate_phone.errors }}
                                                    <label class="form-label" for="{{ form.alternate_phone.id_for_label }}">Secondary Contact Phone</label>
                                                    {{ form.alternate_phone|add_class:"form-control"|attr:"placeholder:(___) ___-____" }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="mb-3">
                                                    {{ form.website.errors }}
                                                    <label class="form-label" for="{{ form.website.id_for_label }}">Website</label>
                                                    {{ form.website|add_class:"form-control"|attr:"placeholder:https://www.widgets.inc/" }}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="mb-3">
                                                    {{ form.fax_number.errors }}
                                                    <label class="form-label" for="{{ form.fax_number.id_for_label }}">Fax Number</label>
                                                    {{ form.fax_number|add_class:"form-control"|attr:"placeholder:(___) ___-____" }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 offset-sm-8">
                                <button type="submit" class="btn btn-primary submit float-end">Update Customer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mb-3" id="customerJobSiteCard">
            {% include 'customer/view_customer/job_site.html' %}
        </div>
    </div>

    <div class="modal fade bd-example-modal-sm" tabindex="-1" id="modalCalculateService" aria-labelledby="modalCalculateService" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Calculate Service Date?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
                </div>
                <div class="modal-body">
                    <p>Do you want to re-calculate the next service date based on this new service interval?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" id="modalCalculateServiceYes">Yes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block toast %}
    <div class="toast alert-fill-success" role="alert" aria-live="assertive" aria-atomic="true" id="deletedToastSuccess">
        <div class="toast-header alert-fill-light">
            <strong class="me-auto">Deleted Equipment</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Equipment has been deleted and job site has been updated.
        </div>
    </div>
{% endblock %}

{% block page_script %}
    <script>
      $(function() {
        $("#{{ form.main_phone.id_for_label }}").inputmask("(999) 999-9999");
        $("#{{ form.alternate_phone.id_for_label }}").inputmask("(999) 999-9999");
        $("#{{ form.fax_number.id_for_label }}").inputmask("(999) 999-9999");
      });
    </script>
{% endblock %}

{% block page_plugins %}
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.2/build/global/luxon.min.js"></script>
    <script src="{% static 'assets/vendors/inputmask/jquery.inputmask.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
{% endblock %}

{% block add_page_plugins %}{% endblock %}