<div class="modal fade" id="setServiceScheduledModal" tabindex="-1" aria-labelledby="setServiceScheduledModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Schedule Service?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
            </div>
            <div class="modal-body">
                Do you want to set <span id="serviceScheduleName"></span> as service scheduled?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="modalConfirmedSchedule" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>