{% load widget_tweaks %}

<div class="modal-dialog">
    <div class="modal-content">
        <form method="post">
            {% csrf_token %}
            {{ form.edit_job_site_equipment }}
            <div class="modal-header">
                <h5 class="modal-title">Edit Tags for <u>{{ object.equipment.name }}</u></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-4">
                    <div class="col-sm-12 mb-3">
                        {{ form.tags.errors }}
                        <label class="form-label" for="{{ form.tags.id_for_label }}">Tags</label>
                        {{ form.tags|add_class:"form-control"|attr:"placeholder:Enter some tags"|attr:"autocomplete:off" }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.installed_on.errors }}
                        <label class="form-label" for="{{ form.installed_on.id_for_label }}">Installed On</label>
                        {{ form.installed_on|add_class:"form-control"|attr:"placeholder:Enter some tags"|attr:"autocomplete:off" }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger me-auto" id="editDeleteEquipment">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>

<script>
  $(function() {
    $('#{{ form.tags.id_for_label }}').tagsInput({
      'width': '100%',
      'height': '60%',
      'interactive': true,
      'defaultText': 'Add Tags',
      'removeWithBackspace': true,
      'minChars': 0,
      'maxChars': 50,
      'placeholderColor': '#666666'
    });

    let datePickerInstallation = $("#{{ form.installed_on.id_for_label }}");

    datePickerInstallation.inputmask("99-99-9999");

    if(datePickerInstallation.length) {
      let date = new Date({{ form.installed_on.value|date:'Y' }}, ({{ form.installed_on.value|date:'m' }} - 1), {{ form.installed_on.value|date:'d' }});

      datePickerInstallation.datepicker({
        format: "mm-dd-yyyy",
        todayHighlight: true,
        autoclose: true
      });

      datePickerInstallation.datepicker('setDate', date);
    }
  });
</script>