{% load widget_tweaks %}

<div class="card">
    <div class="card-header">
        <div class="btn-group" style="height:20px;padding:0;">
            <button type="button" class="btn btn-primary dropdown-toggle btn-sm px-2 me-2" style="padding:0;" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Job Sites
            </button>

            <span class="badge rounded-pill bg-primary">{{ all_job_sites.count }}</span>

            <div class="vr ms-3 bg-secondary opacity-100"></div>

            <div class="dropdown-menu">
                {% for job_site in all_job_sites %}
                    <button type="button" data-job="{{ job_site.pk }}" class="dropdown-item btn btn-sm btn-primary btn-icon-text job_site_load {% if job_site.pk == job_site_id %}active{% endif %}">
                        <i class="btn-icon-prepend pb-2px fa fa-truck"></i>
                        {{ job_site.name }}
                    </button>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <button type="button" class="dropdown-item btn btn-sm btn-primary btn-icon-text">
                    <i class="btn-icon-prepend pb-2px fa fa-plus"></i> Add New Job Site
                </button>
            </div>
        </div>

        <strong class="ms-2 card-title">Viewing: <abbr title="ID: {{ job_site_id }}">{{ form2.name.value }}</abbr></strong>

        <button type="button" class="btn btn-link btn-icon float-end"><i class="fa fa-plus-circle"></i></button>
    </div>

    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form2.non_field_errors }}
            {{ form2.edit_job_site }}
            <input type="hidden" name="temp_value" id="{{ job_site_id }}" />

            <div class="row">
                <div class="col-sm-4">
                    <div class="mb-3">
                        {{ form2.name.errors }}
                        <label class="form-label" for="{{ form2.name.id_for_label }}">Contact Name</label>
                        {{ form2.name|add_class:"form-control"|attr:"placeholder:Contact Name"|attr:"autocomplete:off" }}
                    </div>
                </div><!-- Col -->
                <div class="col-sm-4">
                    <div class="mb-3">
                        {{ form2.phone_number.errors }}
                        <label class="form-label" for="{{ form2.phone_number.id_for_label }}">Contact Phone</label>
                        {{ form2.phone_number|add_class:"form-control"|attr:"placeholder:(___) ___-____"|attr:"autocomplete:off" }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mb-3">
                        {{ form2.email.errors }}
                        <label class="form-label" for="{{ form2.email.id_for_label }}">Contact Email</label>
                        {{ form2.email|add_class:"form-control"|attr:"placeholder:abc@abc.com"|attr:"type:email"|attr:"autocomplete:off" }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    {{ form2.next_service_date.errors }}
                    <label class="form-label" for="{{ form2.next_service_date.id_for_label }}">Next Service Date</label>
                    <div class="input-group date datepicker mb-3" id="datePickerServiceDate">
                        {{ form2.next_service_date|add_class:"form-control"|attr:"placeholder:Next Service Date"|attr:"autocomplete:off" }}
                        <span class="input-group-text input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mb-3">
                        {{ form2.service_interval.errors }}
                        <label class="form-label" for="{{ form2.service_interval.id_for_label }}">Service Interval</label>
                        {{ form2.service_interval|add_class:"form-control"|attr:"placeholder:12"|attr:"autocomplete:off"|attr:"type:number"|attr:"min:2"|attr:"max:120" }}
                    </div>
                </div>
                <div class="col-sm-5 text-end">
                    <div class="mb-3 form-check">
                        {{ form2.active.errors }}
                        <label class="form-check-label me-4" for="{{ form2.active.id_for_label }}">Active</label>
                        {{ form2.active|add_class:"form-check-input float-end" }}
                    </div>
                    <div class="mb-3 form-check">
                        {{ form2.requires_supporting_technician.errors }}
                        <label class="form-check-label me-4" for="{{ form2.requires_supporting_technician.id_for_label }}">Requires Two Technicians</label>
                        {{ form2.requires_supporting_technician|add_class:"form-check-input float-end" }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="mb-3">
                        {{ form2.address.errors }}
                        <label class="form-label" for="{{ form2.address.id_for_label }}">Installation Address</label>
                        {{ form2.address|add_class:"form-control"|attr:"placeholder:1234 Hard Street"|attr:"autocomplete:off" }}
                    </div>
                </div>
            </div>

            <div class="row mb-3 pb-2">
                <div class="col-sm-4">
                    {{ form2.city.errors }}
                    <label class="form-label" for="{{ form2.city.id_for_label }}">Installation City</label>
                    {{ form2.city|add_class:"form-control"|attr:"placeholder:Weaverville"|attr:"autocomplete:off" }}
                </div><!-- Col -->
                <div class="col-sm-4">
                    {{ form2.state.errors }}
                    <label class="form-label" for="{{ form2.state.id_for_label }}">Installation State</label>
                    {{ form2.state|add_class:"form-control"|attr:"placeholder:NC"|attr:"value:NC"|attr:"autocomplete:off" }}
                </div><!-- Col -->
                <div class="col-sm-4">
                    {{ form2.zip.errors }}
                    <label class="form-label" for="{{ form2.zip.id_for_label }}">Installation Zip</label>
                    {{ form2.zip|add_class:"form-control"|attr:"placeholder:28806"|attr:"autocomplete:off" }}
                </div><!-- Col -->
            </div><!-- Row -->

            <hr class="bg-secondary opacity-100" />

            <div class="row pt-2 mb-3">
                <div class="col-sm-12 table-responsive">
                    <h5 class="mb-2">
                        Equipment
                        <button type="button" class="btn btn-link btn-icon float-end" id="addEquipment"><i class="fa fa-plus-circle"></i></button>
                    </h5>

                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th width="2%"></th>
                            <th>Name</th>
                            <th width="20%">Installed On</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if existing_equipment %}
                            {% for equipment_line in existing_equipment %}
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-link btn-icon editEquipmentRow" data-equip-id="{{ equipment_line.pk }}"><i class="fa fa-pencil"></i></button>
                                    </td>
                                    <td>
                                        {{ equipment_line.equipment.name }}

                                        {% if equipment_line.tags %}
                                            {% for tag in equipment_line.tags_as_list %}
                                                <span class="badge bg-primary {% if forloop.first %}ms-2{% elif forloop.last %}me-2{% endif %}">{{ tag }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>{{ equipment_line.installed_on }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan="3" class="text-center"><i>No equipment found.</i></td></tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 offset-sm-8">
                    <button type="submit" class="btn btn-primary submit float-end">Update Installation</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal" tabindex="-1" id="confirmDeleteEquipmentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Really remove product?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this equipment?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmedDeleteEquipment">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="editProductTag"></div>

<div class="modal" tabindex="-1" id="addEquipmentJobSite">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Equipment to JobSite</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for equipment_line in all_equipment %}
                        <div class="col-sm-6">
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" id="{{ equipment_line.pk }}" value="{{ equipment_line.pk }}">
                                <label class="form-check-label" for="{{ equipment_line.pk }}"><abbr title="{{ equipment_line.sku }} ">{{ equipment_line.name }}</abbr></label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add Equipment</button>
            </div>
        </div>
    </div>
</div>

<script>
  $(function() {
    let datePickerNextDate = $("#{{ form2.next_service_date.id_for_label }}");

    datePickerNextDate.inputmask("99-99-9999");

    if(datePickerNextDate.length) {
      let date = new Date({{ form2.next_service_date.value|date:'Y' }}, ({{ form2.next_service_date.value|date:'m' }} - 1), {{ form2.next_service_date.value|date:'d' }});

      datePickerNextDate.datepicker({
        format: "mm-dd-yyyy",
        todayHighlight: true,
        autoclose: true
      });

      datePickerNextDate.datepicker('setDate', date);
    }

    let currentServiceInt = {{ form2.service_interval.value }},
        serviceIntField = $("#{{ form2.service_interval.id_for_label }}"),
        serviceIntModal = new bootstrap.Modal($("#modalCalculateService"));

    serviceIntField.on("blur", function() {
      if(Number(this.value) !== currentServiceInt) {
        serviceIntModal.toggle();
      }
    });

    $("#modalCalculateServiceYes").on("click", function() {
      let currentServiceDate = luxon.DateTime.fromISO('{{ form2.next_service_date.value|date:'Y-m-d' }}');
      let newServiceDate = currentServiceDate.plus({ months: Number(serviceIntField.val()) });

      $("#{{ form2.next_service_date.id_for_label }}").val(newServiceDate.toFormat('LL-dd-yyyy'));

      serviceIntModal.toggle();
    });

    $(".job_site_load").on("click", function() {
      let call = "{% url 'viewSpecificJobSite' pk=999999999 %}".replace(/999999999/, $(this).data('job'));

      $.ajax(call).done(function(response) {
        $("#customerJobSiteCard").html(response);
      });
    });

    $("#addEquipment").on("click", function() {
      $("#addEquipmentJobSite").modal('show');
    });

    let editEquipmentRowID = null, editEquipmentRow = null;

    $(".editEquipmentRow").on("click", function() {
      editEquipmentRowID = $(this).data('equip-id');
      editEquipmentRow = $(this);
      let call = "{% url 'viewEditEquipmentLine' pk=999999999 %}".replace(/999999999/, editEquipmentRowID);

      $.ajax(call).done(function(response) {
        $("#editProductTag").html(response).modal('show');
      });
    });

    $("#editProductTag").on("click", "#editDeleteEquipment", function() {
      let call = "{% url 'viewJobSiteDeleteEquipment' pk=999999999 %}".replace(/999999999/, editEquipmentRowID);

      $.ajax(call).done(function() {
        editEquipmentRow.parents('tr').html('');

        $("#editProductTag").modal('hide');

        new Noty({
          text: "Successfully deleted equipment and saved Job Site.",
          theme: 'bootstrap-v4',
          type: 'success'
        }).show();
      });
    });
  });
</script>