{% load widget_tweaks %}

<div class="row mb-3">
    <div class="col-sm-4">
        {{ jobsite.name.errors }}
        <label class="form-label" for="{{ jobsite.name.id_for_label }}">Contact Name</label>
        {{ jobsite.name|add_class:"form-control"|attr:"autocomplete:off" }}
    </div><!-- Col -->
    <div class="col-sm-4">
        {{ jobsite.phone_number.errors }}
        <label class="form-label" for="{{ jobsite.phone_number.id_for_label }}">Contact Phone</label>
        {{ jobsite.phone_number|add_class:"form-control phone-number"|attr:"autocomplete:off" }}
    </div>
    <div class="col-sm-4">
        {{ jobsite.email.errors }}
        <label class="form-label" for="{{ jobsite.email.id_for_label }}">Contact Email</label>
        {{ jobsite.email|add_class:"form-control"|attr:"type:email"|attr:"autocomplete:off" }}
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-4">
        {{ jobsite.next_service_date.errors }}
        <label class="form-label" for="{{ jobsite.next_service_date.id_for_label }}">Next Service Date</label>
        <div class="input-group date datepicker" id="datePickerServiceDate">
            {{ jobsite.next_service_date|add_class:"form-control next-service-date"|attr:"autocomplete:off" }}
            <span class="input-group-text input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
    <div class="col-sm-3">
        {{ jobsite.service_interval.errors }}
        <label class="form-label" for="{{ jobsite.service_interval.id_for_label }}">Service Interval</label>
        {{ jobsite.service_interval|add_class:"form-control service-int"|attr:"autocomplete:off"|attr:"type:number"|attr:"min:2"|attr:"max:120" }}
    </div>
    <div class="col-sm-5 text-end">
        <div class="form-check">
            {{ jobsite.active.errors }}
            <label class="form-check-label me-4" for="{{ jobsite.active.id_for_label }}">Active</label>
            {{ jobsite.active|add_class:"form-check-input float-end" }}
        </div>
        <div class="form-check">
            {{ jobsite.requires_supporting_technician.errors }}
            <label class="form-check-label me-4" for="{{ jobsite.requires_supporting_technician.id_for_label }}">Requires Two Technicians</label>
            {{ jobsite.requires_supporting_technician|add_class:"form-check-input float-end" }}
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-12">
        {{ jobsite.address.errors }}
        <label class="form-label" for="{{ jobsite.address.id_for_label }}">Installation Address &nbsp; | &nbsp; <a href="https://www.google.com/maps/place/{{ jobsite.address.value|urlencode }},{{ jobsite.city.value|urlencode }},{{ jobsite.state.value|urlencode }} {{ jobsite.zip.value|urlencode }}" target="_blank">Map</a></label>
        {{ jobsite.address|add_class:"form-control"|attr:"autocomplete:off" }}
    </div>
</div>

<div class="row mb-3 pb-2">
    <div class="col-sm-4">
        {{ jobsite.city.errors }}
        <label class="form-label" for="{{ jobsite.city.id_for_label }}">Installation City</label>
        {{ jobsite.city|add_class:"form-control"|attr:"autocomplete:off" }}
    </div><!-- Col -->
    <div class="col-sm-4">
        {{ jobsite.state.errors }}
        <label class="form-label" for="{{ jobsite.state.id_for_label }}">Installation State</label>
        {{ jobsite.state|add_class:"form-control state"|attr:"value:NC"|attr:"autocomplete:off" }}
    </div><!-- Col -->
    <div class="col-sm-4">
        {{ jobsite.zip.errors }}
        <label class="form-label" for="{{ jobsite.zip.id_for_label }}">Installation Zip</label>
        {{ jobsite.zip|add_class:"form-control zip-code"|attr:"autocomplete:off" }}
    </div><!-- Col -->
</div><!-- Row -->

<div class="modal fade bd-example-modal-sm" tabindex="-1" id="modalCalculateService" aria-labelledby="modalCalculateService" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Calculate Service Date?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
            </div>
            <div class="modal-body">
                <p>Do you want to re-calculate the next service date based on this new service interval?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="modalCalculateServiceYes">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
  $(function() {
    let nsd_field = $(".next-service-date");

    $(".phone-number").inputmask("(999) 999-9999");
    nsd_field.inputmask("99-99-9999");
    $(".service-int").inputmask("999");
    $(".state").inputmask("AA");
    $(".zip-code").inputmask("99999-9999");

    if(nsd_field.length) {
      let date = new Date({{ jobsite.next_service_date.value|date:'Y' }}, ({{ jobsite.next_service_date.value|date:'m' }} - 1), {{ jobsite.next_service_date.value|date:'d' }});

      nsd_field.datepicker({
        format: "mm-dd-yyyy",
        todayHighlight: true,
        autoclose: true
      });

      nsd_field.datepicker('setDate', date);

      let currentServiceInt = {{ jobsite.service_interval.value }},
          serviceIntField = $("#{{ jobsite.service_interval.id_for_label }}"),
          serviceIntModal = new bootstrap.Modal($("#modalCalculateService"));

      serviceIntField.on("blur", function() {
        if(Number(this.value) !== currentServiceInt) {
          serviceIntModal.toggle();
        }
      });

      $("#modalCalculateServiceYes").on("click", function() {
        let currentServiceDate = luxon.DateTime.fromISO('{{ jobsite.next_service_date.value|date:'Y-m-d' }}');
        let newServiceDate = currentServiceDate.plus({ months: Number(serviceIntField.val()) });

        $("#{{ jobsite.next_service_date.id_for_label }}").val(newServiceDate.toFormat('LL-dd-yyyy'));

        serviceIntModal.toggle();
      });
    }
  });
</script>