{% load widget_tweaks %}

<div class="card">
    <div class="card-header">
        <div class="btn-group" style="height:20px;padding:0;">
            <button type="button" class="btn btn-primary dropdown-toggle btn-sm px-2 me-2" style="padding:0;" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Job Sites
            </button>

            <span class="badge rounded-pill bg-primary">{{ all_job_sites.count }}</span>

            <div class="vr ms-3 bg-secondary opacity-100"></div>

            <div class="dropdown-menu">
                {% for job_site in all_job_sites %}
                    <button type="button" data-job="{{ job_site.pk }}" class="dropdown-item btn btn-sm btn-primary btn-icon-text job_site_load {% if job_site.pk == job_site_id %}active{% endif %}">
                        <i class="btn-icon-prepend pb-2px fa fa-truck"></i>
                        {{ job_site.name }}
                    </button>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <button type="button" class="dropdown-item btn btn-sm btn-primary btn-icon-text" data-bs-toggle="modal" data-bs-target="#addJobSiteModal">
                    <i class="btn-icon-prepend pb-2px fa fa-plus"></i> Add New Job Site
                </button>
            </div>
        </div>

        <strong class="ms-2 card-title">Viewing: <abbr title="ID: {{ job_site_id }}">{{ form2.name.value }}</abbr></strong>

        <button type="button" class="btn btn-link btn-icon float-end" data-bs-toggle="modal" data-bs-target="#addJobSiteModal"><i class="fa fa-plus-circle"></i></button>
    </div>

    <div class="card-body">
        <form method="post" id="jobsiteForm">
            {% csrf_token %}
            {{ form2.non_field_errors }}
            {{ form2.edit_job_site }}
            <input type="hidden" value="{{ job_site_id }}" name="job_id" />
            {{ form2.customer|attr:"hidden" }}

            {% include 'customer/view_customer/job_site_form.html' %}

            <div class="row">
                <div class="col-sm-4 offset-sm-8">
                    <button type="submit" class="btn btn-primary submit float-end" style="display:none;" id="updateJobSiteBtn">Update Job Site</button>
                </div>
            </div>
        </form>

        <hr class="bg-secondary opacity-100" />

        <div class="row pt-2 mb-3">
            <div class="col-sm-12 table-responsive">
                <h5 class="mb-2">
                    Equipment
                    <button type="button" class="btn btn-link btn-icon float-end" id="addEquipment"><i class="fa fa-plus-circle"></i></button>
                </h5>

                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th width="2%"></th>
                        <th>Name</th>
                        <th width="20%">Installed On</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if existing_equipment %}
                        {% for equipment_line in existing_equipment %}
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-link btn-icon editEquipmentRow" data-equip-id="{{ equipment_line.pk }}"><i class="fa fa-pencil"></i></button>
                                </td>
                                <td>
                                    {{ equipment_line.equipment.name }}

                                    {% if equipment_line.tags %}
                                        {% for tag in equipment_line.tags_as_list %}
                                            <span class="badge bg-primary {% if forloop.first %}ms-2{% elif forloop.last %}me-2{% endif %}">{{ tag }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>{{ equipment_line.installed_on }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="3" class="text-center"><i>No equipment found.</i></td></tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="editProductTag"></div>

<div class="modal" tabindex="-1" id="addJobSiteModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="post" id="addJobSiteCustomerForm" action="{% url 'saveJobSiteToCustomer' %}">
                {% csrf_token %}
                <input type="hidden" value="{{ customer_id }}" name="job-customer" disabled />

                <div class="modal-header">
                    <h5 class="modal-title">Add Job Site to Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
                </div>

                <div class="modal-body">
                    {% include 'customer/view_customer/job_site_form.html' %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Job Site</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="addEquipmentJobSite">
    {% include 'customer/view_customer/add_equipment_jobsite.html' %}
</div>

<script>
  $(function() {
    let datePickerNextDate = $("#{{ form2.next_service_date.id_for_label }}");

    datePickerNextDate.inputmask("99-99-9999");

    if(datePickerNextDate.length) {
      let date = new Date({{ form2.next_service_date.value|date:'Y' }}, ({{ form2.next_service_date.value|date:'m' }} - 1), {{ form2.next_service_date.value|date:'d' }});

      datePickerNextDate.datepicker({
        format: "mm-dd-yyyy",
        todayHighlight: true,
        autoclose: true
      });

      datePickerNextDate.datepicker('setDate', date);
    }

    let equipmentDatePicker = $("#{{ add_equipment_form.installed_on.id_for_label }}");

    equipmentDatePicker.inputmask("99-99-9999");

    if(equipmentDatePicker.length) {
      let date = new Date();

      equipmentDatePicker.datepicker({
        format: "mm-dd-yyyy",
        todayHighlight: true,
        autoclose: true
      });

      equipmentDatePicker.datepicker('setDate', date);
    }

    let currentServiceInt = {{ form2.service_interval.value }},
        serviceIntField = $("#{{ form2.service_interval.id_for_label }}"),
        serviceIntModal = new bootstrap.Modal($("#modalCalculateService"));

    serviceIntField.on("blur", function() {
      if(Number(this.value) !== currentServiceInt) {
        serviceIntModal.toggle();
      }
    });

    $("#modalCalculateServiceYes").on("click", function() {
      let currentServiceDate = luxon.DateTime.fromISO('{{ form2.next_service_date.value|date:'Y-m-d' }}');
      let newServiceDate = currentServiceDate.plus({ months: Number(serviceIntField.val()) });

      $("#{{ form2.next_service_date.id_for_label }}").val(newServiceDate.toFormat('LL-dd-yyyy'));

      serviceIntModal.toggle();
    });

    $(".job_site_load").on("click", function() {
      let call = "{% url 'viewSpecificJobSite' pk=999999999 %}".replace(/999999999/, $(this).data('job'));

      $.ajax(call).done(function(response) {
        $("#customerJobSiteCard").html(response);
      });
    });

    $("#customerJobSiteCard").on("click", "#addEquipment", function() {
      $("#addEquipmentJobSite").modal('show');
    });

    let editEquipmentRowID = null, editEquipmentRow = null;

    $(".editEquipmentRow").on("click", function() {
      editEquipmentRowID = $(this).data('equip-id');
      editEquipmentRow = $(this);
      let call = "{% url 'viewEditEquipmentLine' pk=999999999 %}".replace(/999999999/, editEquipmentRowID);

      $.ajax(call).done(function(response) {
        $("#editProductTag").html(response).modal('show');
      });
    });

    $("#editProductTag").on("click", "#editDeleteEquipment", function() {
      let call = "{% url 'viewJobSiteDeleteEquipment' pk=999999999 %}".replace(/999999999/, editEquipmentRowID);

      $.ajax(call).done(function() {
        editEquipmentRow.parents('tr').html('');

        $("#editProductTag").modal('hide');

        new Noty({
          text: "Successfully deleted equipment and saved Job Site.",
          theme: 'bootstrap-v4',
          type: 'success'
        }).show();
      });
    });

    $("#jobsiteForm").on("keyup", function() {
      $("#updateJobSiteBtn").show();
    });

    $('#{{ add_equipment_form.tags.id_for_label }}').tagsInput({
      'width': '100%',
      'height': '60%',
      'interactive': true,
      'defaultText': 'Add Tags',
      'removeWithBackspace': true,
      'minChars': 0,
      'maxChars': 50,
      'placeholderColor': '#666666'
    });

    let addJobSiteModal = document.getElementById('addJobSiteModal');

    addJobSiteModal.addEventListener('shown.bs.modal', function() {
      $(':input','#addJobSiteCustomerForm')
          .not(':button, :submit, :reset, :hidden')
          .val('')
          .prop('checked', false)
          .prop('selected', false);
    });
  });
</script>