<div class="col-sm-12 table-responsive">
    <h5 class="mb-2">
        Equipment <button type="button" class="btn btn-link btn-icon float-end" id="addEquipment"><i class="fa fa-plus-circle"></i></button>
    </h5>

    <table class="table table-sm">
        <thead>
        <tr>
            <th width="2%"></th>
            <th>Name</th>
            <th width="20%">Installed On</th>
        </tr>
        </thead>
        <tbody>
        {% if existing_equipment %}
            {% for equipment_line in existing_equipment %}
                <tr>
                    <td style="border-bottom: 0;">
                        <button type="button" class="btn btn-link btn-icon editEquipmentRow" data-equip-id="{{ equipment_line.pk }}"><i class="fa fa-pencil"></i></button>
                    </td>
                    <td style="border-bottom: 0;">
                        {% if equipment_line.equipment.name|length > 50 %}<abbr title="{{ equipment_line.equipment.name }}">{% endif %}{{ equipment_line.equipment.name|truncatechars:50 }}</abbr>

                        {% if equipment_line.tags %}
                            {% for tag in equipment_line.tags_as_list %}
                                {% if forloop.counter < 3 %}
                                    <span class="badge bg-primary {% if forloop.first %}ms-2{% elif forloop.last and equipment_line.tags_as_list|length < 3 %}me-2{% endif %}">{% if tag|length > 20 %}<abbr title="{{ tag }}">{% endif %}{{ tag|truncatechars:20 }}</abbr></span>
                                {% endif %}
                            {% endfor %}

                            {% if equipment_line.tags_as_list|length >= 3 %}<span class="badge bg-primary me-2"><abbr title="Edit to View All Tags">...</abbr></span>{% endif %}
                        {% endif %}
                    </td>
                    <td style="border-bottom: 0;">{{ equipment_line.installed_on }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="3" class="text-center"><i>No equipment found.</i></td></tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="modal" tabindex="-1" id="editProductTag"></div>

<script>
  $(function() {
    $('#{{ add_equipment_form.tags.id_for_label }}').tagsInput({
      'width': '100%',
      'height': '60%',
      'interactive': true,
      'defaultText': 'Add Tags',
      'removeWithBackspace': true,
      'minChars': 0,
      'maxChars': 50,
      'placeholderColor': '#666666'
    });

    $("#jobSiteCard").on("click", "#addEquipment", function() {
      $("#addEquipmentJobSite").modal('show');
    });

    let editEquipmentRowID = null, editEquipmentRow = null;

    $(".editEquipmentRow").on("click", function() {
      editEquipmentRowID = $(this).data('equip-id');
      editEquipmentRow = $(this);
      let call = "{% url 'viewEditEquipmentLine' pk=999999999 %}".replace(/999999999/, editEquipmentRowID);

      $.ajax(call).done(function(response) {
        $("#editProductTag").html(response).modal('show');
      });
    });

    $("#editProductTag").on("click", "#editDeleteEquipment", function() {
      let call = "{% url 'viewJobSiteDeleteEquipment' pk=999999999 %}".replace(/999999999/, editEquipmentRowID);

      $.ajax(call).done(function() {
        editEquipmentRow.parents('tr').html('');

        $("#editProductTag").modal('hide');

        new Noty({
          text: "Successfully deleted equipment and saved Job Site.",
          theme: 'bootstrap-v4',
          type: 'warning'
        }).show();
      });
    });
  });
</script>