{% extends 'base.html' %}

{% block title %}All Job Sites{% endblock %}
{% block page_header %}All Job Sites{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline mb-2">
                        <h6 class="card-title mb-0">All Job Sites</h6>
                        <div class="dropdown mb-2">
                            <button class="btn p-0" type="button" id="dropdownMenuButton7" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                                <button id="dt_button_copy" class="dropdown-item d-flex align-items-center"><i data-feather="copy" class="icon-sm me-2"></i> <span class="">Copy</span></button>
                                <button id="dt_button_csv" class="dropdown-item d-flex align-items-center"><i data-feather="file-text" class="icon-sm me-2"></i> <span class="">Download CSV</span></button>
                                <button id="dt_button_excel" class="dropdown-item d-flex align-items-center"><i data-feather="columns" class="icon-sm me-2"></i> <span class="">Download Excel</span></button>
                                <button id="dt_button_pdf" class="dropdown-item d-flex align-items-center"><i data-feather="pen-tool" class="icon-sm me-2"></i> <span class="">Download PDF</span></button>
                                <button id="dt_button_print" class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span class="">Print Table</span></button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table" id="customerDatatable">
                            <thead>
                            <tr>
                                <th>Actions</th>
                                <th>Contact Name</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Next Service Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for jobsite in object_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'viewJobSite' pk=jobsite.pk %}" class="btn btn-inverse-info btn-xs btn-icon" title="View Customer Record"><i class="mdi mdi-wrench"></i></a>
                                    </td>
                                    <td>{{ jobsite.name }}</td>
                                    <td>{{ jobsite.address }}<br>{{ jobsite.city }}, {{ jobsite.state }} {{ jobsite.zip }}</td>
                                    <td><a href="tel:1{{ jobsite.phone_number }}">{{ jobsite.phone_number }}</a></td>
                                    <td><a href="mailto:{{ jobsite.email }}">{{ jobsite.email }}</a></td>
                                    <td>{{ jobsite.next_service_date }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}