{% load static %}

<style>
    .blinking-alert {
        animation: blinker 2s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
</style>

<div class="table-responsive">
    <table class="table" id="customerDatatable">
        <thead>
        <tr>
            <th>Actions</th>
            <th>Contact Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Next Service Date</th>
            <th>Scheduled</th>
        </tr>
        </thead>
        <tbody>
        {% for jobsite in object_list %}
            <tr>
                <td>
                    <a href="{% url 'viewSpecificJobSite' pk=jobsite.pk %}" class="btn btn-inverse-info btn-xs btn-icon" title="View Service Record"><i class="fa fa-wrench"></i></a>
                    {% if request.user.is_superuser %}<a href="https://app.qbo.intuit.com/app/customerdetail?nameId={{ jobsite.quickbooks_id }}" class="btn btn-inverse-success btn-xs btn-icon" title="View Quickbooks Record" target="_blank"><img src="{% static 'assets/images/quickbooks-icon.jpeg' %}" alt="Open in Quickbooks" style="max-width:20px;max-height:20px;"></a>{% endif %}
                </td>
                <td>
                    {% if jobsite.name|length > 30 %}<abbr title="{{ jobsite.name }}">{% endif %}{{ jobsite.name|truncatechars:30 }}</abbr>

                    {% if jobsite.customer.company and jobsite.name != jobsite.customer.company %}<br>
                        {% if jobsite.customer.company|length > 30 %}<abbr title="{{ jobsite.customer.company }}">{% endif %}
                    <em>{{ jobsite.customer.company|truncatechars:30 }}</em>
                    </abbr>
                    {% endif %}
                </td>
                <td>
                    <a href="https://www.google.com/maps/place/{{ jobsite.address|urlencode }},{{ jobsite.city|urlencode }},{{ jobsite.state|urlencode }} {{ jobsite.zip|urlencode }}" target="_blank">
                        <i class="fa fa-map-pin"></i> &nbsp; {% if jobsite.address|length > 40 %}<abbr title="{{ jobsite.address }}">{% endif %}{{ jobsite.address|truncatechars:40 }}</abbr><br>{{ jobsite.city }}, {{ jobsite.state }} {{ jobsite.zip }}
                    </a>
                </td>
                <td><a href="tel:1{{ jobsite.phone_number }}"><i class="fa fa-phone"></i> &nbsp; {% if jobsite.phone_number|length > 15 %}<abbr title="{{ jobsite.phone_number }}">{% endif %}{{ jobsite.phone_number|truncatechars:15 }}</abbr></a></td>
                <td><a href="mailto:{{ jobsite.email }}"><i class="fa fa-envelope"></i> &nbsp; {% if jobsite.email|length > 20 %}<abbr title="{{ jobsite.email }}">{% endif %}{{ jobsite.email|truncatechars:20 }}</abbr></a></td>
                <td>{{ jobsite.next_service_date }}</td>
                <td><span class="{% if jobsite.service_scheduled %}text-success{% elif jobsite.is_past_due %}text-danger blinking-alert{% elif jobsite.is_due_soon %}text-warning{% endif %}">{{ jobsite.service_scheduled|yesno:"Yes,No" }}</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>