{% extends 'base.html' %}

{% block title %}All Customers{% endblock %}
{% block page_header %}All Customers{% endblock %}

{% block page_content %}
    {% block custom_report_header %}{% endblock %}

    <div class="row">
        <div class="col-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline mb-2">
                        <h6 class="card-title mb-0">{% block card_title %}All Customers{% endblock %}</h6>
                        <div class="dropdown mb-2">
                            <button class="btn p-0" type="button" id="dropdownMenuButton7" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-lg text-muted pb-3px fa fa-ellipsis"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                                <button id="email_report" class="dropdown-item d-flex align-items-center"><i class="icon-sm me-2 fa fa-envelope-o fa-fw"></i> <span class="">Email List</span></button>
                                <div class="dropdown-divider"></div>
                                <button id="dt_button_copy" class="dropdown-item d-flex align-items-center"><i class="icon-sm me-2 fa fa-copy fa-fw"></i> <span class="">Copy</span></button>
                                <button id="dt_button_csv" class="dropdown-item d-flex align-items-center"><i class="icon-sm me-2 fa fa-file-text fa-fw"></i> <span class="">Download CSV</span></button>
                                <button id="dt_button_excel" class="dropdown-item d-flex align-items-center"><i class="icon-sm me-2 fa fa-file-excel fa-fw"></i> <span class="">Download Excel</span></button>
{#                                <button id="dt_button_pdf" class="dropdown-item d-flex align-items-center"><i class="icon-sm me-2 fa fa-file-pdf fa-fw"></i> <span class="">Download PDF</span></button>#}
                                <div class="dropdown-divider"></div>
                                <button id="dt_button_print" class="dropdown-item d-flex align-items-center"><i class="icon-sm me-2 fa fa-print fa-fw"></i> <span class="">Print Table</span></button>
                            </div>
                        </div>
                    </div>

                    {% include 'jobsite/all_jobsites_card.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_script %}
    <script>
      $(function() {
        job_site_table.ajax.url('/job_sites/api/allJobSitesRest/?format=datatables&all_items=True').draw();
      });
    </script>
{% endblock %}