{% extends 'base.html' %}

{% block title %}All Customers{% endblock %}
{% block page_header %}All Customers{% endblock %}

{% block page_content %}
    {% block custom_report_header %}{% endblock %}

    <div class="row">
        <div class="col-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline mb-2">
                        <h6 class="card-title mb-0">{% block card_title %}All Customers{% endblock %}</h6>
                        <div class="dropdown mb-2">
                            <button class="btn p-0" type="button" id="dropdownMenuButton7" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-lg text-muted pb-3px fa fa-ellipsis"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                                {% include 'base/datatable_dropdown.html' %}
                            </div>
                        </div>
                    </div>

                    {% include 'jobsite/all_jobsites_card.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_script %}
    <script>
      $(function() {
        job_site_table.ajax.url('/job_sites/api/allJobSitesRest/?format=datatables&all_items=True').draw();
      });
    </script>
{% endblock %}