{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}
{% block page_header %}Service Record for <abbr title="Database ID: {{ object.pk }}">{{ object.name }}</abbr>{% endblock %}

{% block css_plugins %}
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
{% endblock %}

{% block page_content %}
    {% if not form.is_active.value %}<div class="alert alert-danger" role="alert">Customer is inactive or deleted.</div>{% endif %}
    {% if form.requires_supporting_technician.value %}<div class="alert alert-warning" role="alert">Requires two technicians!</div>{% endif %}

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    {{ form.name.errors }}
                                    <label class="form-label" for="{{ form.name.id_for_label }}">Contact Name</label>
                                    {{ form.name|add_class:"form-control"|attr:"placeholder:Contact Name"|attr:"autocomplete:off" }}
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    {{ form.phone_number.errors }}
                                    <label class="form-label" for="{{ form.phone_number.id_for_label }}">Contact Phone</label>
                                    {{ form.phone_number|add_class:"form-control"|attr:"placeholder:(___) ___-____"|attr:"autocomplete:off" }}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    {{ form.email.errors }}
                                    <label class="form-label" for="{{ form.email.id_for_label }}">Contact Email</label>
                                    {{ form.email|add_class:"form-control"|attr:"placeholder:abc@abc.com"|attr:"type:email"|attr:"autocomplete:off" }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                {{ form.next_service_date.errors }}
                                <label class="form-label" for="{{ form.next_service_date.id_for_label }}">Next Service Date</label>
                                <div class="input-group date datepicker mb-3" id="datePickerServiceDate">
                                    {{ form.next_service_date|add_class:"form-control"|attr:"placeholder:Next Service Date"|attr:"autocomplete:off" }}
                                    <span class="input-group-text input-group-addon"><i data-feather="calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="mb-3">
                                    {{ form.service_interval.errors }}
                                    <label class="form-label" for="{{ form.service_interval.id_for_label }}">Service Interval</label>
                                    {{ form.service_interval|add_class:"form-control"|attr:"placeholder:12"|attr:"autocomplete:off"|attr:"type:number"|attr:"min:2"|attr:"max:120" }}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    {{ form.primary_technician.errors }}
                                    <label class="form-label" for="{{ form.primary_technician.id_for_label }}">Primary Technician</label>
                                    {{ form.primary_technician|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="col-sm-4 text-end">
                                <div class="mb-3 form-check">
                                    {{ form.active.errors }}
                                    <label class="form-check-label me-4" for="{{ form.active.id_for_label }}">Active</label>
                                    {{ form.active|add_class:"form-check-input float-end" }}
                                </div>
                                <div class="mb-3 form-check">
                                    {{ form.requires_supporting_technician.errors }}
                                    <label class="form-check-label me-4" for="{{ form.requires_supporting_technician.id_for_label }}">Requires Two Technicians</label>
                                    {{ form.requires_supporting_technician|add_class:"form-check-input float-end" }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    {{ form.address.errors }}
                                    <label class="form-label" for="{{ form.address.id_for_label }}">Installation Address</label>
                                    {{ form.address|add_class:"form-control"|attr:"placeholder:1234 Hard Street"|attr:"autocomplete:off" }}
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-4">
                                {{ form.city.errors }}
                                <label class="form-label" for="{{ form.city.id_for_label }}">Installation City</label>
                                {{ form.city|add_class:"form-control"|attr:"placeholder:Weaverville"|attr:"autocomplete:off" }}
                            </div><!-- Col -->
                            <div class="col-sm-4">
                                {{ form.state.errors }}
                                <label class="form-label" for="{{ form.state.id_for_label }}">Installation State</label>
                                {{ form.state|add_class:"form-control"|attr:"placeholder:NC"|attr:"value:NC"|attr:"autocomplete:off" }}
                            </div><!-- Col -->
                            <div class="col-sm-4">
                                {{ form.zip.errors }}
                                <label class="form-label" for="{{ form.zip.id_for_label }}">Installation Zip</label>
                                {{ form.zip|add_class:"form-control"|attr:"placeholder:28806"|attr:"autocomplete:off" }}
                            </div><!-- Col -->
                        </div><!-- Row -->

                        <div class="row">
                            <div class="col-sm-4 offset-sm-8">
                                <button type="submit" class="btn btn-primary submit float-end">Update Installation</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Notes <button type="button" class="btn btn-link btn-icon float-end"><i data-feather="plus-circle"></i></button></div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Summary</th>
                            <th>Author</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>12/23/22</td>
                            <td>In leau of water...</td>
                            <td>Ben Beach</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_script %}
{% endblock %}