{# This page is loaded into base.html under the "add customer" section #}
<div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="mb-3">
                            <label class="form-label">Title</label>
                            <input type="text" class="form-control" placeholder="Title">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <label class="form-label"><abbr title="Primary Contact">First Name</abbr></label>
                            <input type="text" class="form-control" placeholder="Enter first name">
                        </div>
                    </div><!-- Col -->
                    <div class="col-sm-2">
                        <div class="mb-3">
                            <label class="form-label"><abbr title="Middle Initials">MI</abbr></label>
                            <input type="text" class="form-control" placeholder="MI">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" placeholder="Enter last name">
                        </div>
                    </div><!-- Col -->
                </div><!-- Row -->

                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="form-label">Primary Phone</label>
                            <input type="text" class="form-control" placeholder="Enter primary phone">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="form-label">Email Address</label>
                            <input type="email" class="form-control" placeholder="Enter email address">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <ul class="nav nav-tabs" id="addCustomerTabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="extraInfo-tab" data-bs-toggle="tab" href="#extraInfo" role="tab" aria-controls="extraInfo" aria-selected="true">Extra Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="billing-tab" data-bs-toggle="tab" href="#billing" role="tab" aria-controls="billing" aria-selected="false">Billing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="jobsite-tab" data-bs-toggle="tab" href="#jobsite" role="tab" aria-controls="jobsite" aria-selected="false">Jobsite</a>
                                </li>
                            </ul>
                            <div class="tab-content border border-top-0 p-3" id="myTabContent">
                                <div class="tab-pane fade show active" id="extraInfo" role="tabpanel" aria-labelledby="extraInfo-tab">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="mb-3">
                                                <label class="form-label">Company Name</label>
                                                <input type="text" class="form-control" placeholder="Enter company name">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label">Secondary Contact Name</label>
                                                <input type="text" class="form-control" placeholder="Enter secondary contact">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label">Secondary Phone</label>
                                                <input type="text" class="form-control" placeholder="Enter secondary phone">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="mb-3">
                                                <label class="form-label">Access Code</label>
                                                <input type="url" class="form-control" placeholder="Access code">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="mb-3">
                                                <label class="form-label">Website</label>
                                                <input type="text" class="form-control" placeholder="Enter website">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="mb-3">
                                                <label class="form-label">Fax</label>
                                                <input type="text" class="form-control" placeholder="Enter fax">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="billing" role="tabpanel" aria-labelledby="billing-tab">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="mb-3">
                                                <label class="form-label">Billing Address 1</label>
                                                <input type="text" class="form-control" placeholder="Enter billing address 1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="form-label">Billing City</label>
                                            <input type="text" class="form-control" placeholder="Enter billing city">
                                        </div><!-- Col -->
                                        <div class="col-sm-4">
                                            <label class="form-label">Billing State</label>
                                            <input type="text" class="form-control" placeholder="Enter billing state">
                                        </div><!-- Col -->
                                        <div class="col-sm-4">
                                            <label class="form-label">Billing Zip</label>
                                            <input type="text" class="form-control" placeholder="Enter billing zip">
                                        </div><!-- Col -->
                                    </div><!-- Row -->
                                </div>
                                <div class="tab-pane fade" id="jobsite" role="tabpanel" aria-labelledby="jobsite-tab">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="mb-3">
                                                <label class="form-label">Jobsite Address 1</label>
                                                <input type="text" class="form-control" placeholder="Enter jobsite address 1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="form-label">Jobsite City</label>
                                            <input type="text" class="form-control" placeholder="Enter jobsite city">
                                        </div><!-- Col -->
                                        <div class="col-sm-4">
                                            <label class="form-label">Jobsite State</label>
                                            <input type="text" class="form-control" placeholder="Enter jobsite state">
                                        </div><!-- Col -->
                                        <div class="col-sm-4">
                                            <label class="form-label">Jobsite Zip</label>
                                            <input type="text" class="form-control" placeholder="Enter jobsite zip">
                                        </div><!-- Col -->
                                    </div><!-- Row -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>