{% load static %}

<div class="sidebar-header">
    <a href="#" class="sidebar-brand">WCWT<span>Admin</span></a>

    <div class="sidebar-toggler not-active">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div class="sidebar-body">
    <ul class="nav">
        <li class="nav-item nav-category">Main</li>
        <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link">
                <i class="link-icon fa fa-dashboard"></i>
                <span class="link-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item nav-category">Apps</li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#uiCustomers" role="button" aria-expanded="false" aria-controls="uiCustomers">
                <i class="link-icon fa fa-users"></i>
                <span class="link-title">Customers</span>
                <i class="link-arrow fa fa-chevron-down"></i>
            </a>

            <div class="collapse" id="uiCustomers">
                <ul class="nav sub-menu">
                    <li class="nav-item"><a href="{% url 'addCustomer' %}" class="nav-link">Add Customer</a></li>
                    <li class="nav-item"><a href="{% url 'allCustomers' %}" class="nav-link">All Customers</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#uiJobSites" role="button" aria-expanded="false" aria-controls="uiJobSites">
                <i class="link-icon fa fa-truck"></i>
                <span class="link-title">Job Sites</span>
                <i class="link-arrow fa fa-chevron-down"></i>
            </a>

            <div class="collapse" id="uiJobSites">
                <ul class="nav sub-menu">
                    <li class="nav-item"><a href="{% url 'addJobSite' %}" class="nav-link">Add Job Site</a></li>
                    <li class="nav-item"><a href="{% url 'allJobSites' %}" class="nav-link">All Job Sites</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#uiEquipment" role="button" aria-expanded="false" aria-controls="uiEquipment">
                <i class="link-icon fa fa-boxes-packing"></i>
                <span class="link-title">Equipment</span>
                <i class="link-arrow fa fa-chevron-down"></i>
            </a>
            <div class="collapse" id="uiEquipment">
                <ul class="nav sub-menu">
                    <li class="nav-item"><a href="{% url 'allEquipment' %}" class="nav-link">All Equipment</a></li>
                    <li class="nav-item"><a href="{% url 'addEquipment' %}" class="nav-link">Add Equipment</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#uiReports" role="button" aria-expanded="false" aria-controls="uiReports">
                <i class="link-icon fa fa-arrow-trend-up"></i>
                <span class="link-title">Reports</span>
                <i class="link-arrow fa fa-chevron-down"></i>
            </a>
            <div class="collapse" id="uiReports">
                <ul class="nav sub-menu">
                    <li class="nav-item"><a href="{% url 'customersDueThisMonth' %}" class="nav-link">Due This Month</a></li>
                    <li class="nav-item"><a href="{% url 'customersDueNextMonth' %}" class="nav-link">Due Next Month</a></li>
                    <li class="nav-item"><a href="{% url 'customerDueTwoMonthsFuture' %}" class="nav-link">Due +2 Months</a></li>
                    <li class="nav-item"><a href="{% url 'customerDueLastMonth' %}" class="nav-link">Due Last Month</a></li>
                    <li class="nav-item"><a href="{% url 'customerDueLastThreeMonths' %}" class="nav-link">Due Last 3 Months</a></li>
                    <li class="nav-item"><a href="{% url 'customerDueLastYearThisMonth' %}" class="nav-link">Due Last Year This Month</a></li>
                    <li class="nav-item"><a href="{% url 'customerCustomReport' %}" class="nav-link">Custom Report</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>