{% load static %}

<div class="sidebar-header">
    <a href="{% url 'dashboard' %}" class="sidebar-brand">WCWT<span class="{% if not IS_LIVE %}text-danger{% endif %}">{% if IS_LIVE %}Admin{% else %}Dev{% endif %}</span></a>

    <div class="sidebar-toggler not-active">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div class="sidebar-body">
    <ul class="nav">
        <li class="nav-item nav-category"><label for="global_select_customer">Select Customer</label></li>
        <li class="nav-item">
            <select class="form-control" id="global_select_customer" style="width:100%;">
                <option value="" disabled selected>---------</option>
                {% for job_site in ALL_JOB_SITES %}
                    <option value="{{ job_site.pk }}">{{ job_site.name }}</option>
                {% endfor %}
            </select>
        </li>
        <li class="nav-item nav-category">Main</li>
        <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link">
                <i class="link-icon mdi mdi-view-dashboard-variant-outline"></i>
                <span class="link-title">Dashboard</span>
            </a>
        </li>
        {% if request.user.is_superuser %}
            <li class="nav-item">
                <a href="{% url 'qbDashboard' %}" class="nav-link">
                    <i class="link-icon mdi mdi-satellite-uplink"></i>
                    <span class="link-title">QuickBooks</span>
                </a>
            </li>
        {% endif %}
        <li class="nav-item nav-category">Apps</li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#uiCustomers" role="button" aria-expanded="false" aria-controls="uiCustomers">
                <i class="link-icon fa mdi mdi-account-multiple"></i>
                <span class="link-title">Customers</span>
                <i class="link-arrow mdi mdi-chevron-down"></i>
            </a>
            <div class="collapse" id="uiCustomers">
                <ul class="nav sub-menu">
                    <li class="nav-item"><a href="{% url 'addCustomer' %}" class="nav-link">New Customer</a></li>
                    <li class="nav-item"><a href="{% url 'allJobSites' %}" class="nav-link">All Customers</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#uiEquipment" role="button" aria-expanded="false" aria-controls="uiEquipment">
                <i class="link-icon mdi mdi-archive"></i>
                <span class="link-title">Equipment</span>
                <i class="link-arrow mdi mdi-chevron-down"></i>
            </a>
            <div class="collapse" id="uiEquipment">
                <ul class="nav sub-menu">
                    <li class="nav-item"><a href="{% url 'addEquipment' %}" class="nav-link">New Equipment</a></li>
                    <li class="nav-item"><a href="{% url 'allEquipment' %}" class="nav-link">All Equipment</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#uiReports" role="button" aria-expanded="false" aria-controls="uiReports">
                <i class="link-icon mdi mdi-trending-up"></i>
                <span class="link-title">Reports</span>
                <i class="link-arrow mdi mdi-chevron-down"></i>
            </a>
            <div class="collapse" id="uiReports">
                <ul class="nav sub-menu">
                    <li class="nav-item"><a href="{% url 'customersDueThisMonth' %}" class="nav-link">Due This Month</a></li>
                    <li class="nav-item"><a href="{% url 'customersDueNextMonth' %}" class="nav-link">Due Next Month</a></li>
                    <li class="nav-item"><a href="{% url 'customerDueTwoMonthsFuture' %}" class="nav-link">Due +2 Months</a></li>
                    <li class="nav-item"><a href="{% url 'customerDueLastMonth' %}" class="nav-link">Due Last Month</a></li>
                    <li class="nav-item"><a href="{% url 'customerDueLastThreeMonths' %}" class="nav-link">Due Last 3 Months</a></li>
                    <li class="nav-item"><a href="{% url 'customerDueLastYearThisMonth' %}" class="nav-link">Due Last Year This Month</a></li>
                    <li class="nav-item"><a href="{% url 'customerCustomReport' %}" class="nav-link">Custom Report</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#uiEmail" role="button" aria-expanded="false" aria-controls="uiEmail">
                <i class="link-icon mdi mdi-email-open"></i>
                <span class="link-title">Email</span>
                <i class="link-arrow mdi mdi-chevron-down"></i>
            </a>
            <div class="collapse" id="uiEmail">
                <ul class="nav sub-menu">
                    <li class="nav-item"><a href="{% url 'emailCompose' %}" class="nav-link">Compose</a></li>
                    <li class="nav-item"><a href="{% url 'emailSentMail' %}" class="nav-link">Sent Mail</a></li>
                    <li class="nav-item"><a href="{% url 'emailDrafts' %}" class="nav-link">Drafts</a></li>
                    <li class="nav-item"><a href="{% url 'emailAllTemplates' %}" class="nav-link">Templates</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<script>
  $(function() {
    let select_ele = $("#global_select_customer");

    let select = select_ele.select2({
      dropdownParent: $(".sidebar-body"),
    });

    select.on("change", function() {
      location.href = '{% url 'viewSpecificJobSite' pk=999999999 %}'.replace(/999999999/, $(this).val());
    });
  });
</script>