{% extends 'communication/compose_email.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}All Templates{% endblock %}
{% block page_header %}All Templates{% endblock %}

{% block email_action %}
<div>
    <div class="d-flex align-items-center p-3 border-bottom tx-16">
        <i class="fa fa-fw fa-table me-2"></i> All Templates

        <button type="button" class="btn btn-link btn-icon float-end" data-bs-toggle="modal" data-bs-target="#createNewTemplateModal">
            <i class="fa fa-plus-circle"></i>
        </button>
    </div>
</div>

<div class="p-3 pb-0">
    <table class="table table-sm table-dark table-bordered">
        <tr>
            <th width="65%">Template Name</th>
            <th width="20%">Last Updated By</th>
            <th width="25%">Last Updated On</th>
        </tr>
        {% for template in existing_templates %}
            <tr>
                <td><a href="">{{ template.template_name }}</a></td>
                <td>{% if template.last_updated_by.first_name %}{{ template.last_updated_by.first_name }} {{ template.last_updated_by.last_name }}{% else %}{{ template.last_updated_by.username }}{% endif %}</td>
                <td>{{ template.last_updated_on|date:'M d, y P' }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3" class="text-center">
                    I checked the records... I can't find a template anywhere. Sorry.<br />
                    Want to <a href="#" data-bs-toggle="modal" data-bs-target="#createNewTemplateModal">make a new template?</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% include 'communication/modal/create_new_template.html' %}
{% endblock %}

{% block page_script %}
    <script>
      $(function() {
        let multi_select = $("#{{ form.send_cc.id_for_label }}");

        if (multi_select.length) {
          multi_select.select2({
            dropdownParent: $("#createNewTemplateModal"),
          });
        }
      });
    </script>
{% endblock %}