{% extends 'communication/compose_email.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}All Templates{% endblock %}
{% block page_header %}All Templates{% endblock %}

{% block email_action %}
    <div>
        <div class="d-flex align-items-center p-3 border-bottom tx-16">
            <i class="mdi mdi-table me-2"></i> All Templates

            <button type="button" class="btn btn-link btn-icon float-end create_new_template_btn">
                <i class="mdi mdi-plus-circle"></i>
            </button>
        </div>
    </div>

    <div class="p-3 pb-0">
        <table class="table table-sm table-dark table-bordered">
            <tr>
                <th width="65%">Template Name</th>
                <th width="20%">Last Updated By</th>
                <th width="25%">Last Updated On</th>
            </tr>
            {% for template in existing_templates %}
                <tr>
                    <td><a href="{% url 'emailEditTemplate' pk=template.pk %}" class="view_template">{{ template.template_name }}</a></td>
                    <td>{% if template.last_updated_by.first_name %}{{ template.last_updated_by.first_name }} {{ template.last_updated_by.last_name }}{% else %}{{ template.last_updated_by.username }}{% endif %}</td>
                    <td>{{ template.last_updated_on|date:'M d, y P' }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="text-center">
                        I checked the records... I can't find a template anywhere. Sorry.<br />
                        Want to <a href="#" class="create_new_template_btn">make a new template?</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="modal fade" tabindex="-1" id="createNewTemplate" aria-labelledby="createNewTemplateModal" data-bs-backdrop="static" data-bs-keyboard="false"  aria-hidden="true">
        {% include 'communication/modal/create_new_template.html' %}
    </div>
{% endblock %}

{% block page_script %}
    <script>
      let message_mde;

      $(function() {
        $(".view_template").on('click', function(e) {
          e.preventDefault();

          $.ajax($(this).attr('href')).done(function(data) {
            $("#createNewTemplate").html(data).modal('show');
          });
        });

        $(".create_new_template_btn").on("click", function() {
          $.ajax('{% url 'createNewTemplate' %}').done(function(data) {
            $("#createNewTemplate").html(data).modal('show');
          });
        });
      });
    </script>
{% endblock %}