{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Compose Email{% endblock %}
{% block page_header %}Compose Email{% endblock %}

{% block add_css_plugins %}
    <link rel="stylesheet" href="{% static 'assets/vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/simplemde/simplemde.min.css' %}">
{% endblock %}

{% block page_content %}
    <div class="row inbox-wrapper">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 border-end-lg">
                            <div class="aside-content">
                                <div class="d-flex align-items-center justify-content-between">
                                    <button class="navbar-toggle btn btn-icon border d-block d-lg-none" data-bs-target=".email-aside-nav" data-bs-toggle="collapse" type="button">
                                        <span class="icon"><i class="fa fa-chevron-down"></i></span>
                                    </button>
                                    <div class="order-first">
                                        <p class="text-muted">info@wcwater.com</p>
                                    </div>
                                </div>
                                <div class="d-grid my-3">
                                    <a class="btn btn-primary" href="{% url 'emailCompose' %}"><i class="fa fa-fw fa-pencil-square-o me-2"></i> Compose Email</a>
                                </div>
                                <div class="email-aside-nav collapse">
                                    <ul class="nav flex-column">
                                        <li class="nav-item {% if request.resolver_match.url_name == 'emailCompose' %}active{% endif %}">
                                            <a class="nav-link d-flex align-items-center" href="{% url 'emailCompose' %}">
                                                <i class="fa fa-pencil-square-o fa-fw me-2"></i> Compose
                                            </a>
                                        </li>
                                        <li class="nav-item {% if request.resolver_match.url_name == 'emailSentMail' %}active{% endif %}">
                                            <a class="nav-link d-flex align-items-center" href="{% url 'emailSentMail' %}">
                                                <i class="fa fa-envelope-open-text fa-fw me-2"></i> Sent Mail
                                            </a>
                                        </li>
                                        <li class="nav-item {% if request.resolver_match.url_name == 'emailDrafts' %}active{% endif %}">
                                            <a class="nav-link d-flex align-items-center" href="{% url 'emailDrafts' %}">
                                                <i class="fa fa-file-text-o fa-fw me-2"></i> Drafts
                                            </a>
                                        </li>
                                        <li class="nav-item {% if request.resolver_match.url_name == 'emailAllTemplates' %}active{% endif %}">
                                            <a class="nav-link d-flex align-items-center" href="{% url 'emailAllTemplates' %}">
                                                <i class="fa fa-fw fa-table me-2"></i> Templates
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-9">
                            {% block email_action %}
                                <form method="post" id="compose_email_form">
                                    {% csrf_token %}

                                    <div>
                                        <div class="d-flex align-items-center p-3 border-bottom tx-16">
                                            <i class="fa fa-fw fa-pencil-square-o me-2"></i> New Message
                                        </div>
                                    </div>
                                    <div class="p-3 pb-0">
                                        <div class="row mb-3">
                                            {{ form.send_bcc.errors }}
                                            <label class="col-md-2 col-form-label" for="{{ form.send_bcc.id_for_label }}"><abbr title="Not visible to recipients.">BCC</abbr></label>
                                            <div class="col-md-10">
                                                {{ form.send_bcc|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            {{ form.send_cc.errors }}
                                            <label class="col-md-2 col-form-label" for="{{ form.send_cc.id_for_label }}"><abbr title="Visible to recipients.">CC:</abbr></label>
                                            <div class="col-md-10">
                                                {{ form.send_cc|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            {{ form.subject.errors }}
                                            <label class="col-md-2 col-form-label" for="{{ form.subject.id_for_label }}">Subject</label>
                                            <div class="col-md-10">{{ form.subject|add_class:"form-control" }}</div>
                                        </div>
                                        <div class="row mb-3">
                                            {{ form.template_used.errors }}
                                            <label class="col-md-2 col-form-label" for="{{ form.template_used.id_for_label }}">Template</label>
                                            <div class="col-md-10">
                                                {{ form.template_used|add_class:"form-control" }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="px-3">
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                {{ form.message.errors }}
                                                <label class="form-label visually-hidden" for="{{ form.message.id_for_label }}">Email Body </label>
                                                <textarea class="form-control" name="{{ form.message.name }}" id="{{ form.message.id_for_label }}" rows="5"></textarea>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-md-12">
                                                <button class="btn btn-success me-1 mb-1 btn-icon-text" type="submit"><i class="fa fa-send-o fa-fw btn-icon-prepend"></i> Send</button>
                                                <button class="btn btn-secondary me-1 mb-1 btn-icon-text" id="save_email_draft" type="button"><i class="fa fa-save fa-fw btn-icon-prepend"></i> Save Draft</button>

                                                <button class="btn btn-danger me-1 mb-1 btn-icon-text float-end" type="reset"><i class="fa fa-cancel fa-fw btn-icon-prepend"></i> Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'communication/modal/insert_db_field.html' %}
{% endblock %}

{% block page_script %}
    <script>
      let simplemde;

      $(function() {
        simplemde = wcaSystem.setup_mde_editor('#{{ form.message.id_for_label }}');

        $("#{{ form.send_bcc.id_for_label }}").select2({
          tags: true,
        });

        $("#{{ form.send_cc.id_for_label }}").select2({
          tags: true,
        });

        $("#{{ form.template_used.id_for_label }}").on('change', function() {
          let selected_id = $(this).val();
          let get_template_url = '{% url 'getTemplate' pk=999999999 %}'.replace('999999999', selected_id);

          if(selected_id === '') {
            $("#compose_email_form").find('input:text, input:password, input:file, select, textarea').val('');
            simplemde.value('');
          } else {
            $.ajax(get_template_url).done(function(data) {
              let response = data[0];

              $("#{{ form.subject.id_for_label }}").val(response.subject);
              simplemde.value(response.message)
            });
          }
        });

        $("#save_email_draft").on('click', function() {
          $("#compose_email_form").attr('action', '?draft=true').submit();
        });

        $("#compose_email_form").on('reset', function() {
          simplemde.value('');
        });

        if(wcaSystem.get_url_query().sent) {
          wcaSystem.show_notification('Successfully sent email.', 'success')
        }
      });
    </script>
{% endblock %}

{% block add_page_plugins %}
    <script src="{% static 'assets/vendors/select2/select2.min.js' %}"></script>
    <script src="{% static 'assets/vendors/simplemde/simplemde.min.js' %}"></script>
{% endblock %}