{% load widget_tweaks %}
{% load markdownify %}

<div class="modal-dialog modal-xl template_container">
    <div class="modal-content">
        <div>
            <div class="d-flex align-items-center p-3 border-bottom tx-16">
                <i class="mdi mdi-email-open me-2"></i> Sent Email
            </div>
        </div>
        <div class="p-3 pb-0">
            <div class="row mb-3">
                <div class="col-md-1 col-form-label"><abbr title="Not visible to recipients.">BCC:</abbr></div>
                <div class="col-md-11 col-form-label">
                    {{ sent_email.bcc_as_comma|default:"<em>N/A</em>" }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-1 col-form-label"><abbr title="Visible to recipients.">CC:</abbr></div>
                <div class="col-md-11 col-form-label">
                    {{ sent_email.cc_as_comma|default:"<em>N/A</em>" }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-1 col-form-label">Subject:</div>
                <div class="col-md-11 col-form-label">{{ sent_email.subject }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-1 col-form-label">Template:</div>
                <div class="col-md-11 col-form-label">
                    {{ sent_email.template.name|default:"<em>N/A</em>" }}
                </div>
            </div>
        </div>

        <div class="row mb-3 px-3">
            <div class="col-md-1"><div class="form-label">Message:</div></div>
            <div class="col-md-11 mb-3">
                <div class="card"><div class="card-body">{{ sent_email.message|markdownify }}</div></div>
            </div>
        </div>

        <div class="row mb-3 px-3">
            <div class="col-md-12">
                <button class="btn btn-primary me-1 mb-1 btn-icon-text float-end" type="button" data-bs-dismiss="modal"><i class="mdi mdi-cancel btn-icon-prepend"></i> Close</button>
            </div>
        </div>
    </div>
</div>