{% load static %}

<div class="table-responsive">
    <table class="table" id="customerDatatable">
        <thead>
        <tr>
            <th>Contact Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Next Service Date</th>
            <th>Scheduled</th>
            <th>Actions</th>
            <th>ID</th>
        </tr>
        </thead>
        <tbody><!-- Rendered via DataTables below --></tbody>
    </table>
</div>

{% include 'customer/modal/schedule_service.html' %}
{% include 'customer/modal/print_address_labels.html' %}
{% include 'customer/modal/email_customers.html' %}

<form action="{% url 'printAddrLabels' %}" method="post" target="_blank" id="dt_data_form">
    {% csrf_token %}
    <input type="hidden" name="data" id="dt_data" />
</form>

<form action="{% url 'emailCompose' %}" method="post" id="dt_email_data_form">
    {% csrf_token %}
    <input type="hidden" name="data" id="dt_email_data" />
</form>

<script>
  let job_site_table;

  $(function() {
    let customer_datatable = $("#customerDatatable");
    let current_path = window.location.pathname;
    let scroll_height;

    if(current_path === '/') {
      scroll_height = 348;
    } else {
      scroll_height = 498;
    }

    job_site_table = customer_datatable.DataTable({
      sDom: 'lfrtip',
      scrollY: scroll_height,
      scrollX: false,
      scrollResize: true,
      ajax: '/customers/api/allJobSitesRest/?format=datatables',
      serverSide: true,
      stateSave: true,
      searching: true,
      columns: [
        {
          targets: 0,
          searchable: true,
          data: null,
          render: function(data, type, row, meta) {
            let trim = 30;
            let output_string;

            if(data.name === '' || data.name === data.customer__company) {
              output_string = '<em>' + stringManipulations.truncate(data.customer__company, trim) + '</em>'
            } else if(data.customer__company !== undefined) {
              output_string = stringManipulations.truncate(data.name, trim) + '<br /><em>' + stringManipulations.truncate(data.customer__company, trim) + '</em>'
            }  else {
              output_string = stringManipulations.truncate(data.name, trim);
            }

            return '<a href="/customers/view/job_site/' + data.id + '" title="View Service Record">' + output_string + '</a>';
          }
        },
        {
          targets: 1,
          searchable: true,
          data: null,
          orderable: false,
          render: function (data, type, row, meta) {
            let trim = 25;

            if(data.address !== '' && data.address !== null) {
              return '<a href="https://www.google.com/maps/place/' + data.address + ',' + data.city + ',' + data.state + ' ' + data.zip + '" target="_blank">' +
                  '<i class="mdi mdi-map-marker"></i> &nbsp; ' + stringManipulations.truncate(data.address, trim) + '&nbsp;<br>' + stringManipulations.truncate(data.city, trim) + ', ' + data.state + ' ' + data.zip +
                  '</a>';
            } else {
              return 'N/A';
            }
          }
        },
        {
          targets: 2,
          data: null,
          orderable: false,
          render: function (data, type, row, meta) {
            let trim = 18;
            let phone_formatted = data.phone_number.replace(/(\d{3})(\d{3})(\d{4})/, "($1) $2-$3");

            if(data.phone_number !== '' && data.phone_number !== null) {
              return '<a href="tel:1' + data.phone_number + '"><i class="mdi mdi-phone"></i> &nbsp; ' + stringManipulations.truncate(phone_formatted, trim);
            } else {
              return 'N/A';
            }
          }
        },
        {
          targets: 3,
          data: null,
          render: function (data, type, row, meta) {
            let trim = 20;

            if(data.email !== '' && data.email !== null) {
              return '<a href="mailto:' + data.email + '"><i class="mdi mdi-email"></i> &nbsp; ' + stringManipulations.truncate(data.email, trim) + '</a>';
            } else {
              return 'N/A';
            }
          }
        },
        {
          targets: 4,
          data: null,
          render: function (data, type, row, meta) {
            // generate the Google calendar link to schedule this customer
            // http://www.google.com/calendar/event?action=TEMPLATE&dates=20220714T010000Z%2F20220714T010000Z&text=Test&location=&details=This%20is%20a%20test
            let google_url_prefix = "http://www.google.com/calendar/event?action=TEMPLATE&dates=";
            let date = luxon.DateTime.fromISO(data.next_service_date).toFormat('yyyyLLdd');
            let subject = "&text=" + data.name + ' - Scheduled Service';
            let location = "&location=" + data.address + ',' + data.city + ',' + data.state + ' ' + data.zip;
            let details = "&details=" + data.phone_number + '%0A'; // need to add Appointment notes

            let from_time = 'T120000';
            let to_time = 'T130000';
            let date_string = date + from_time + '/' + date + to_time;

            let google_url = google_url_prefix + date_string + subject + location + details;

            let nsd_formatted = luxon.DateTime.fromISO(data.next_service_date).toFormat('LLL dd, yyyy');

            let disabled;

            if(data.disable_service) {
              disabled = '<span class="text-decoration-line-through">';
            } else {
              disabled = '<span>';
            }

            if (data.next_service_date !== null) {
              let nsd_date = luxon.DateTime.fromISO(data.next_service_date);

              if(!data.service_scheduled && (nsd_date.hasSame(luxon.DateTime.now(), 'month') || nsd_date >= luxon.DateTime.now().minus({ years: 3 }))) {
                return '<button class="dt_show_modal btn btn-link p-0 m-0" data-bs-toggle="modal" data-bs-target="#setServiceScheduledModal" data-google-url="' + google_url + '" data-job-name="' + data.name + '" data-job-id="' + data.id + '"><i class="mdi mdi-calendar-plus"></i> ' + disabled + nsd_formatted + '</span></button>';
              } else {
                return disabled + nsd_formatted + '</span>';
              }
            } else {
              return disabled + 'N/A</span>';
            }
          }
        },
        {
          targets: 5,
          data: null,
          render: function (data, type, row, meta) {
            if(data.service_scheduled) {
              return '<span class="text-success">Scheduled</span>';
            } else if(data.disable_service) {
              return '<span class="text-light">Disabled</span>';
            } else {
              let ignore_older_than = luxon.DateTime.now().minus({ years: 3 });
              let alarm_date = luxon.DateTime.now().minus({ years: 1 });
              let ignore_future_date = luxon.DateTime.now().plus({ months: 2 });
              let plus_30_days = luxon.DateTime.now().plus({ days: 30 });
              let current_date = luxon.DateTime.now();
              let service_date = luxon.DateTime.fromISO(data.next_service_date);

              if(data.next_service_date !== '' && data.next_service_date !== null) {
                // this takes the place of jobsite/models/JobSite.is_past_due & JobSite.is_due_soon
                if(service_date <= ignore_older_than) {
                  return '<span class="text-secondary">Dormant</span>';
                } else {
                  if(service_date >= ignore_future_date) {
                    return '<span class="text-secondary">Not Due</span>';
                  } else if(service_date.startOf('month').plus({ months: 2 }) >= ignore_future_date) {
                    return '<span class="text-info">Due Soon</span>';
                  } else if(service_date <= plus_30_days && service_date >= current_date.startOf('month')) {
                    return '<span class="text-warning">Due Now</span>';
                  } else if(service_date >= alarm_date) {
                    return '<span class="text-warning blinking-alert">Missed Service</span>';
                  } else {
                    return '<span class="text-danger blinking-alert">Past Due</span>';
                  }
                }
              } else {
                return '<span class="text-secondary">N/A</span>';
              }
            }
          }
        },
        {
          targets: 6,
          searchable: false,
          orderable: false,
          data: null,
          render: function (data, type, row, meta) {
            return '<a href="https://app.qbo.intuit.com/app/customerdetail?nameId=' + data.quickbooks_id + '" class="btn btn-inverse-success btn-xs btn-icon" title="View Quickbooks Record" target="_blank"><img src="{% static 'assets/images/quickbooks-icon.jpeg' %}" alt="Open in Quickbooks" style="max-width:20px;max-height:20px;"></a>';
          }
        },
        {
          targets: 7,
          searchable: false,
          orderable: false,
          data: null,
          render: function (data, type, row, meta) {
            return data.id;
          }
        },
      ],
      buttons: {
        buttons: [
          { extend: 'copy', className: 'btn btn-outline-primary' },
          { extend: 'csv', className: 'btn btn-outline-primary' },
          { extend: 'excel', className: 'btn btn-outline-primary' },
          { extend: 'pdf', className: 'btn btn-outline-primary' },
          { extend: 'print', className: 'btn btn-outline-primary' },
          {
            text: 'json',
            action: function ( e, dt ) {
              let data = dt.buttons.exportData({ columns: 7 });

              $.fn.dataTable.fileSave(
                  new Blob( [ JSON.stringify( data ) ] ),
                  'json_export.json'
              );
            },
            className: 'btn btn-outline-primary buttons-json',
          },
          {
            text: 'addresslabels',
            action: function ( e, dt ) {
              let ul_update = $("#job_sites_not_printing");
              let customers = dt.buttons.exportData({ columns: [0, 1, 7] });
              let output = '';

              for (const value in customers['body']) {
                let row = customers['body'][value];

                if(row[1] === 'N/A') {
                  output += '<li><a href="https://wcadev.innovated.tech/customers/view/job_site/' + row[2] + '" target="_blank">' + customers['body'][value][0] + '</a></li>';
                }
              }

              if(output === '') {
                output = '<li>No customers will be missed.</li>';
              }

              ul_update.html(output);
            },
            className: 'btn btn-outline-primary buttons-addr-label',
          },
          {
            text: 'emailcustomers',
            action: function ( e, dt ) {
              let ul_update = $("#customers_missing_emails");
              let customers = dt.buttons.exportData({ columns: [0, 3, 7] });
              let output = '';

              for (const value in customers['body']) {
                let row = customers['body'][value];

                if(row[1] === 'N/A') {
                  output += '<li><a href="https://wcadev.innovated.tech/customers/view/job_site/' + row[2] + '" target="_blank">' + customers['body'][value][0] + '</a></li>';
                }
              }

              if(output === '') {
                output = '<li>No customers will be excluded from this email.</li>';
              }

              ul_update.html(output);
            },
            className: 'btn btn-outline-primary buttons-send-email',
          },
        ]
      },
      lengthMenu: [
        [10, 25, 50, -1],
        [10, 25, 50, 'All'],
      ],
      fixedHeader: {
        header: true
      },
      preDrawCallback: function () {
        pageScrollPos = $('div.dataTables_scrollBody').scrollTop();
      },
      drawCallback: function () {
        $('div.dataTables_scrollBody').scrollTop(pageScrollPos);
      }
    });

    job_site_table.column(7).visible(false);

    $("#dt_button_copy").on("click", function() {
      job_site_table.buttons('.buttons-copy').trigger();
      window.alert("Copied.");
    });

    $("#dt_button_csv").on("click", function() {
      job_site_table.buttons('.buttons-csv').trigger();
    });

    $("#dt_button_excel").on("click", function() {
      job_site_table.buttons('.buttons-excel').trigger();
    });

    $("#dt_button_pdf").on("click", function() {
      job_site_table.buttons('.buttons-pdf').trigger();
    });

    $("#dt_button_print").on("click", function() {
      job_site_table.buttons('.buttons-print').trigger();
    });

    $("#dt_button_json").on("click", function() {
      job_site_table.buttons('.buttons-json').trigger();
    });

    $("#dt_button_print_addr_labels").on("click", function() {
      job_site_table.buttons('.buttons-addr-label').trigger();
    });

    $("#print_address_labels_confirmed").on('click', function() {
      let data = JSON.stringify( job_site_table.buttons.exportData({ columns: 7 }) );

      $("#dt_data").val(data);
      $("#dt_data_form").submit();
    });

    $("#dt_email_report").on("click", function() {
      job_site_table.buttons('.buttons-send-email').trigger();
    });

    $("#prepare_sent_email").on('click', function() {
      let data = JSON.stringify( job_site_table.buttons.exportData({ columns: 7 }) );

      $("#dt_email_data").val(data);
      $("#dt_email_data_form").submit();
    });

    $("#modalConfirmedSchedule").on("click", function() {
      let job_id = $(this).attr('data-job-id');

      let request = $.ajax('{% url 'setJobSiteScheduled' pk=999999999 %}'.replace(/999999999/, job_id));

      request.fail(function() {
        wcaSystem.show_notification('Unable to schedule job site. Please report this error.', 'error', 10000);
      });

      request.done(function() {
        let job_name = $("#serviceScheduleName").text();

        wcaSystem.show_notification('Successfully scheduled ' + job_name + '.', 'success', 10000);

        // hide the modal & refresh content
        //job_site_table.ajax.reload(null, false);
        job_site_table.draw();
        $("#setServiceScheduledModal").modal('hide');
      });
    });

    $(document)
        .on("click", ".dt_show_modal", function() {
          let open_url = $(this).data('google-url');
          $("#serviceScheduleName").text($(this).data('job-name'));
          $("#modalConfirmedSchedule").attr('data-job-id', $(this).data('job-id'));

          window.open(open_url, '_blank');
        });
  });
</script>