{% load widget_tweaks %}
{% load static %}

{% if not jobsite.active.value or jobsite.requires_supporting_technician.value %}
    <div class="row">
        <div class="col-sm-12">
            {% if not jobsite.active.value %}<div class="alert alert-danger" role="alert"><i class="mdi mdi-account-cancel"></i>Job Site is inactive or deleted.</div>{% endif %}
            {% if jobsite.requires_supporting_technician.value %}<div class="alert alert-warning" role="alert"><i class="mdi mdi-account-multiple"></i>Requires two technicians!</div>{% endif %}
        </div>
    </div>
{% endif %}

<div class="card">
    <div class="card-header">
        <div class="btn-group" style="height:20px;padding:0;">
            <button type="button" class="btn btn-primary dropdown-toggle btn-sm px-2 me-2" style="padding:0;height:20px;" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Job Sites
            </button>

            <span class="badge rounded-pill bg-primary">{{ all_job_sites.count }}</span>
            <div class="vr ms-3 bg-secondary opacity-100"></div>

            <div class="dropdown-menu">
                {% for job_site in all_job_sites %}
                    <button type="button" data-job="{{ job_site.pk }}" class="dropdown-item btn btn-sm btn-primary btn-icon-text job_site_load {% if job_site.pk == job_site_id %}active{% endif %}">
                        <i class="btn-icon-prepend pb-2px mdi mdi-truck"></i> {% if job_site.name|length > 30 %}<abbr title="{{ job_site.name }}">{% endif %}{{ job_site.name|truncatechars:30 }}</abbr>
                    </button>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <button type="button" class="dropdown-item btn btn-sm btn-primary btn-icon-text" data-bs-toggle="modal" data-bs-target="#addJobSiteModal">
                    <i class="btn-icon-prepend pb-2px mdi mdi-plus"></i> Add New Job Site
                </button>
            </div>
        </div>

        <a href="https://app.qbo.intuit.com/app/customerdetail?nameId={{ job_obj.quickbooks_id }}" class="ms-2" title="View Quickbooks Record" target="_blank">
            <img src="{% static 'assets/images/quickbooks-icon.jpeg' %}" alt="Open in Quickbooks" style="max-width:20px;max-height:20px;">
        </a>

        {# http://www.google.com/calendar/event?action=TEMPLATE&dates=20220714T010000Z%2F20220714T010000Z&text=Test&location=&details=This%20is%20a%20test #}
        <button class="btn btn-icon p-0 m-0 btn-sm" id="schedule_google_cal" style="padding:0;height:20px;"  title="Schedule on Google Calendar" data-bs-toggle="modal" data-bs-target="#setServiceScheduledModal" data-job-id="{{ job_obj.pk }}" data-job-name="{{ job_obj.name }}" data-google-url="http://www.google.com/calendar/event?action=TEMPLATE&dates={{ job_obj.next_service_date|date:'Ymd' }}T120000%2F{{ job_obj.next_service_date|date:'Ymd' }}T130000&text={{ job_obj.name }} - Scheduled Service&location={{ job_obj.address }}, {{ job_obj.city }}, {{ job_obj.state }} {{ job_obj.zip }}&details={{ job_obj.phone_number }}">
            <i class="mdi mdi-calendar-plus text-success"></i>
        </button>

        <strong class="ms-2 card-title text-uppercase fw-bold">{% if jobsite.name.value|length > 45 %}<abbr title="{{ jobsite.name.value }}">{% endif %}{{ jobsite.name.value|truncatechars:45 }}</abbr></strong>
        <button type="button" class="btn btn-link btn-icon float-end btn-sm" style="padding:0;height:20px;"  data-bs-toggle="modal" data-bs-target="#addJobSiteModal">
            <i class="mdi mdi-plus-circle"></i>
        </button>
    </div>

    <div class="card-body" id="jobSiteCard">
        <form method="post" id="jobsiteForm" action="{% url 'updateJobSite' pk=job_site_id %}">
            {% csrf_token %}
            {{ jobsite.non_field_errors }}
            <input type="hidden" value="{{ job_site_id }}" name="job_id" />
            {# Shake a stick at this later, if it makes you angry. Duplicate HTML ID's are found here. #}

            {% include 'customer/job_sites/form.html' %}

            <div class="row" id="jobSiteFormActions" style="display:none;">
                <div class="col-sm-6 offset-sm-6">
                    <button type="submit" class="btn btn-success submit float-end">Update Job Site</button>
                    <button type="reset" class="btn btn-outline-warning float-end mx-2">Reset</button>
                </div>
            </div>
        </form>

        <hr class="bg-secondary opacity-100" />

        <div class="row pt-2 mb-3">
            {% include 'customer/job_sites/equipment.html' %}
        </div>

        <div class="row pt-2 mb-3">
            {% include 'customer/job_sites/invoices.html' %}
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="addJobSiteModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="post" id="addJobSiteCustomerForm" action="{% url 'saveJobSiteToCustomer' %}">
                {% csrf_token %}
                <input type="hidden" value="{{ customer_id }}" name="customer_id" />

                <div class="modal-header">
                    <h5 class="modal-title">Add Job Site to Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
                </div>

                <div class="modal-body">
                    {% include 'customer/job_sites/form.html' %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Job Site</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'customer/modal/schedule_service.html' %}

<div class="modal" tabindex="-1" id="addEquipmentJobSite">
    {% include 'customer/job_sites/add_equipment_jobsite.html' %}
</div>

<script>
  $(function() {
    $(".job_site_load").on("click", function() {
      window.location.href = "{% url 'viewSpecificJobSite' pk=999999999 %}".replace(/999999999/, $(this).data('job'));
    });

    $("#jobsiteForm").on("keyup change", function() {
      $("#jobSiteFormActions").show();
    }).on("reset", function() {
      $("#jobSiteFormActions").hide();
    });

    $("#schedule_google_cal").on("click", function() {
      let open_url = $(this).data('google-url');
      $("#serviceScheduleName").text($(this).data('job-name'));
      $("#modalConfirmedSchedule").attr('data-job-id', $(this).data('job-id'));

      window.open(open_url, '_blank');
    });

    $("#modalConfirmedSchedule").on("click", function() {
      let job_id = $(this).attr('data-job-id');

      let request = $.ajax('{% url 'setJobSiteScheduled' pk=999999999 %}'.replace(/999999999/, job_id));

      request.fail(function() {
        wcaSystem.show_notification('Unable to schedule job site. Please report this error.', 'error', 10000);
      });

      request.done(function() {
        let job_name = $("#serviceScheduleName").text();

        wcaSystem.show_notification('Successfully scheduled ' + job_name + '.', 'success', 10000);

        // show that it's scheduled now
        $("#{{ jobsite.service_scheduled.id_for_label }}").prop("checked", true);

        // hide the modal
        $("#setServiceScheduledModal").modal('hide');
      });
    });

    let addJobSiteModal = document.getElementById('addJobSiteModal');

    addJobSiteModal.addEventListener('shown.bs.modal', function() {
      $(':input','#addJobSiteCustomerForm').not(':button, :submit, :reset, :hidden').val('').prop('checked', false).prop('selected', false);
    });
  });
</script>